<template>
    <div class="page dark">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link icon-only panel-open" data-panel="left">
                        <i class="icon f7-icons ios-only">menu</i>
                        <i class="icon material-icons md-only">menu</i>
                    </a>
                </div>
                <div class="title sliding">{{this.map.name}}</div>
            </div>
        </div>
        <div class="page-content">
            <div class="list links-list">
                <ul>
                    {{#each this.map.books}}
                    <li>
                        <div class="card">
                            <div class="card-header">{{this.label}}</div>
                            <div class="card-content card-content-padding">
                                <p>Zone(s): {{this.zone}}</p>
                                {{#each this.location}}
                                <p>{{this}}</p>
                                {{/each}}
                                {{#each this.images}}
                                <div class="image-case">
                                    <div class="item-media">
                                        <img class="image-image" src="{{this.img}}" alt="{{this.alt}}" style="width: 100%;height: auto;display: block;">
                                    </div>
                                    <p class="image-caption">{{this.caption}}</p>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</template>
<script>
    return {
        
        // Page Events
        on: {
            pageInit: function (e, page) {
                $$('.image-case').on('click', function (e) {
                    console.log(this);
                    var caption = $$(this).find('.image-caption');
                    caption = $$(caption).html();
                    var src = $$(this).find('.image-image');
                    src = $$(src).attr('src');

                    var photoBrowser = app.photoBrowser.create({
                      photos: [
                          {
                              url: src,
                              caption: caption,
                          },
                        ],
                        theme: 'dark',
                        type: 'standalone'
                    });
                    photoBrowser.open();
                });
            },
        }
    }
</script>