<template>
    <div class="page darkish">
        <div class="navbar">
            <div class="navbar-inner sliding">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span class="ios-only">Back</span>
                    </a>
                </div>
                <div class="title">Map List</div>
            </div>
        </div>
        <div class="page-content">
            <div class="list links-list">
                <ul>
                    <li>
                        <a href="/" data-view=".view-main" class="item-link panel-close">Home</a>
                    </li>
                    {{#each this.maps}}
                    <li><a href="/map/{{this.act}}/{{this.mission}}/" data-view=".view-main" class="item-link panel-close">{{this.act}}.{{this.mission}}: {{this.name}}</a></li>
                    {{/each}}
                    <li>
                        <a href="#" data-view=".view-main" class="back">Back in history</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>