/* Your app styles here */
.navbar-inner {
    background-color: #AB0000;
}
.block-title {
    color: #e6e6e6 !important;
}
.navbar .title {
    font-size: 20px !important;
    font-weight: bold !important;
    text-transform: none !important;
    text-shadow: 2px 2px 4px black;
}
.image-caption {
    margin-top: 0px;
}

/* DARK */
.dark {
    background-color: #1a1a1a !important;
    color: #cccccc !important;
}
.dark .card {
    color: #1a1a1a;
    background-color: #ccc;
}
.dark .card .card-header{
    color: #FFF;
    background-color: #AB0000;
}
.dark .block-title {
    color: #1a1a1a !important;
    font-weight: bolder;
}

/* DARKISH */
.darkish, .darkish .block-title {
    background-color: #ccc !important;
    color: #1a1a1a !important;
}
.darkish .block-title {
    color: #1a1a1a !important;
    font-weight: bolder;
}

/* Left Panel right border when it is visible by breakpoint */
.panel-left.panel-visible-by-breakpoint:before {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}

/* Hide navbar link which opens left panel when it is visible by breakpoint */
.panel-left.panel-visible-by-breakpoint ~ .view .navbar .panel-open[data-panel="left"] {
  display: none;
}

/*
  Extra borders for main view and left panel for iOS theme when it behaves as panel (before breakpoint size)
*/
.ios .panel-left:not(.panel-visible-by-breakpoint).panel-active ~ .view-main:before,
.ios .panel-left:not(.panel-visible-by-breakpoint).panel-closing ~ .view-main:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}
